<html>
    <head>

    </head>
    <body>
    	{% for persona in persona_list %}
    	    <h2> {{ persona.nombre }} <br>
            <b>{{ persona.apellido }}</b> </h2> <br> 
            <b>> {{ persona.edad }} </b> <br>
            <b>> {{persona.altura}} </b> <br>
            <b>> {{ persona.cuidad }} </b> <br>
            <b>> {{ persona.email }} </b> <br>
            <div>
                {% if persona.foto %}
                <img src="{{ persona.foto.url }}"
                 alt="{{ persona.nombre }} {{persona.apellido}}">
                {% endif %}
            </div>
        {% endfor %}
    </body>
</html>